- content_for :banner, "Let's make awesome tracks!"

.ui.stackable.grid
  .six.wide.column
  .four.wide.column
    .ui.card
      .image.dimmable
        %img{:src => "/images/steve.jpg"}/
    .large.ui.button.track Create your track

    %p With a track, you can guide your readers through the path you took to learning a new skill.
    %p Creating your track is super easy, leaving you to work on what you're best at - teaching.


  .six.wide.column

.ui.modal.track
  %i.close.icon
  .header
    What's this track about?
  .content
    = render 'form'





